html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#imagesPoke {
    height: 200px;
}
#progressCard{
    height: 50px;
}
.progress {
    width: auto;
    height: 24px;
    border-radius: 10px;
    background-color: #F1F1F1;
    margin-bottom: 10px;
}

.progress-bar {
    border-radius: 10px;
    height: 24px;
    display: block;
}
div.modal-header {
    background-color: #eebb19;
}
div.modal-footer {
    background-color: #eebb19;
}
div.modal-body {
    background-color: #fffad1;
}
.abilities{
    display:inline-block;
    width:100px;
    height:35px;
    text-align:center;

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #eebb19;
}
.nav-link {
    color: #000000;
}


