@{
    Layout = "_ErorLayout";
    
}
<body>

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1>401</h1>
        <h2 class="mb-2 mx-2">Page Not Found :(</h2>
        <p class="mb-4 mx-2">YOU ARE NOT AUTHORIZED TO ACCESS THIS PAGE.</p>
        <a id="countdown">5</a>
    </div>
</div>

</body>

<script>
    let timer = 5
    setInterval(() => {
        document.getElementById('countdown').innerHTML = timer;
        timer--;

        if (timer === 0) {
            location.href = "/Account/Login";
        }
    }, 1000)
</script>