@{
    Layout = "_ErorLayout";
}
<body>

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1>403</h1>
        <h2 class="mb-2 mx-2">FORBIDDEN!!!!</h2>
        <p class="mb-4 mx-2">it seems you're lost!</p>
        <a id="countdown">10</a>
        <img
            src="~/assets/img/illustrations/images-403.jpg"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/page-misc-error-dark.png"
            data-app-light-img="illustrations/page-misc-error-light.png"/>
    </div>
</div>

</body>

<script>
    let timer = 10
    setInterval(() => {
        document.getElementById('countdown').innerHTML = timer;
        timer--;

        if (timer === 0) {
            location.href = "/Home/Index";
        }
    }, 1000)
</script>